@import "fuentes";
@media (max-width: 576px){
  .fondoPresentacion{
  background-color: #962727;
  width: 300;
  height: 600;
  margin-top: 70px;}
}

/* Imagen de fondo */

body{background: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/YSYSRWGCA5HLJKDYCBMLXGHMC4.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}

/* Presentación Inicial */

.fondoPresentacion{
  background-color: #962727;
  width: 300;
  height: 600;
  margin-top: 90px;
}

.block__h1{
  font-family: 'Caviar Dreams', arial;
  font-size: 50px; 
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.parrafoPresentacion{
  font-family: 'Caviar Dreams', arial;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

/* Sección Elegidos del Mes */

.fondoElegidos{
  background-color: #962727;
  width: 100;
  height: 200;
  margin-top: 80px;
}

.block__h2 {
  font-family: 'Caviar Dreams', arial;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center; }

.doc{
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background: #962727;
}
.box{
  width: 300px;
  height: 300px;
  background: #962727;
  overflow: hidden;
}
.box img{
  width: 30%;
  height: auto;
}

@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;}
}
.linkATienda{
  color: white;
  text-decoration: underline;
}


/* Categorías Tienda */

.tienda__h2{
  font-size: 18px;
    font-family: 'Caviar Dreams', arial;
    font-weight: bold;
    color: white
}

.parrafoCards{
  color: white;
    font-family: 'Caviar Dreams', arial;  
}

/* Conocenos */

.parrafoConocenos {
  color: white; 
    font-family: 'Caviar Dreams', arial;
    font-size: 16px;
  }

.imagenNosotros{
  align-content: center;
 }

/* Formulario Contacto */

span{
  color: white; 
  font-family: 'Caviar Dreams', arial;
}

.formulario__h1{
  padding-top: 20px;
  color: white; 
  font-family: 'Caviar Dreams', arial;
}

.formulario__h2{
  padding-bottom: 20px;
  color: white; 
  font-family: 'Caviar Dreams', arial;
}

p{
  margin:0 0 25px;
  font-size:18px;
  line-height:1.6em;
  color: white; 
  font-family: 'Caviar Dreams', arial;
}

a:hover,a:focus{
  text-decoration:none;
  color: white; 
  font-family: 'Caviar Dreams', arial;
}

textarea.form-control{
    height:100px;
}


label {
  color: white;
    font-family: 'Caviar Dreams', arial;  
}



/* Pie de Página */

footer {
  background: #962727;
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*Iconos RRSS*/

/* footer iconos RRSS */

footer h3{
  font-size: 16px;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoTwitter:hover {
  background-color: #08a0e9;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoInstagram:hover {
  background-color: #DD2A7B;
}

.social-network a.icoTwitter:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


